@import url('https://fonts.googleapis.com/css?family=Inconsolata');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.out-wrapper{
    display:flex;
    min-height:100vh;
}
.out-wrapper .main{
    background:#ebebeb;
    max-width:25vw;
    width:100%;
    min-height:100px;
    margin:1em auto;
    padding:1em;
    border-radius:5px;
    align-self: center;
    font-family: 'Inconsolata', monospace;
    text-align:center;
}
.go-again{
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 4px;
    border: none;
    background: #00ffad;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    transition:all 200ms ease-out;
}
.go-again:hover{
    background: #ce00c8;
    color: #00ffad;
    cursor:pointer;
}
.go-again:focus{
    outline:none;
}